{% load django_bootstrap5 %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Blog !</title>
  </head>
  <body>
    <div class="container">
        <h4>{{post}} Details</h4>
        {% comment %} <p>{{post.tags}}</p> {% endcomment %}
        <p>{{post.author}}</p>
        <p>{{post.publish_date}}</p>
        <p>{{post.category}}</p>
        <img src="{{post.image.url}}" />
        
        <h5>Comments {{comments|length}}</h5>
        <ul>
        {% for comment in comments %}
         <li>{{comment.user}} : {{comment.comment}}</li>
        {% empty %}
        <li>There is no comments</li>
        {% endfor %}
        </ul>

        <h5> Add new comment </h5>
        <div class="w-50 mb-5">
        <form method="post">
            {%csrf_token%}

            {% bootstrap_form form %}

            {% bootstrap_button button_type="submit" content="Add Comment" %}
        </form>
        </div>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>
